* {
  margin: 0px; }

html, body {
  background: #fcfcfc;
  color: black;
  font-family: sans-serif;
  margin-bottom: 50px;
  height: 100%;
  display: inline-table; }

section {
  margin-bottom: 70px; }

.summary {
  color: #5d5d5d;
  top: 30px;
  margin-bottom: 70px;
  position: relative; }

h1 {
  height: 70px;
  text-align: center;
  background: linear-gradient(to bottom, #6e91ba, #132b47);
  color: white;
  padding: 20px 0px 20px 0px;
  font-size: 40px;
  font-weight: 300;
  position: fixed;
  width: 100%;
  z-index: 2; }
  h1 div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 55px;
    text-shadow: 1px 1px 2px black; }

#fadeBlock {
  position: fixed;
  width: 90%;
  height: 190px;
  background: linear-gradient(to bottom, white, white, rgba(255, 255, 255, 0));
  z-index: 0;
  margin-left: 5%; }

h2 {
  display: inline-block;
  margin-left: 30px;
  margin-right: 20px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 30px;
  font-weight: 100;
  border-bottom: solid 1px #c3c3c3; }

h3 {
  margin: 0px 0px 5px 50px;
  font-weight: 400;
  font-size: 25px; }

p {
  margin-left: 80px;
  margin-right: 80px;
  line-height: 25px;
  color: #5d5d5d; }

.jobs {
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.job {
  color: gray;
  -webkit-flex: 0 45%;
  -ms-flex: 0 45%;
  flex: 0 45%;
  margin-bottom: 20px;
  width: auto;
  background: rgba(195, 218, 245, 0.41);
  padding: 20px;
  text-align: center;
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
  cursor: pointer; }
  .job:hover {
    color: #575757;
    background: rgba(195, 218, 245, 0.61); }
  .job:active {
    background: rgba(195, 218, 245, 0.61); }
  .job ul {
    text-align: left; }
  .job .taskList {
    display: none; }
  .job .jobTitle {
    color: #2e2e2e;
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 10px;
    text-shadow: 0px 1px gray; }
  .job .employer {
    margin: 5px 0 5px 0; }
  .job .time {
    display: none; }
  .job .task {
    margin-top: 5px;
    margin-right: 80px;
    line-height: 25px; }

.topRow {
  -webkit-order: 1 !important;
  -ms-flex-order: 1 !important;
  order: 1 !important;
  transition: all 1s; }

.transitionJob {
  -webkit-flex: 1 45%;
  -ms-flex: 1 45%;
  flex: 1 45%; }

.currentJob {
  cursor: default;
  transition-duration: 0.5s;
  background: rgba(195, 218, 245, 0.61);
  -webkit-flex: 1 100%;
  -ms-flex: 1 100%;
  flex: 1 100%;
  position: relative;
  padding: 50px;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  color: black;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .currentJob:hover {
    color: black;
    background: rgba(195, 218, 245, 0.61); }
  .currentJob .jobInfo {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2; }
  .currentJob .taskList {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 150px; }
  .currentJob .time {
    display: block; }

.flexFullRow {
  -webkit-flex: 1 100%;
  -ms-flex: 1 100%;
  flex: 1 100%; }

.list {
  margin-left: 80px;
  margin-right: 80px; }

.languageList {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.language {
  transition: all 0.5s;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px;
  background: rgba(195, 245, 199, 0.41);
  width: 10%;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 20px;
  color: gray;
  cursor: pointer; }
  .language .name {
    font-size: 20px;
    color: black;
    margin-bottom: 5px; }
  .language:hover {
    background: rgba(195, 245, 199, 0.61); }
  .language.selected {
    background: rgba(195, 245, 199, 0.61); }

.selected {
  transition: all 0.5s; }

.dim {
  opacity: 0.5; }

.courseList {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px; }

.course {
  width: 10%;
  transition: all 0.5s;
  cursor: pointer;
  padding: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  background: rgba(245, 195, 241, 0.41); }
  .course:hover {
    background: rgba(245, 195, 241, 0.61); }
  .course.selected {
    background: rgba(245, 195, 241, 0.61); }

.resume {
  margin-top: 130px;
  background-color: #fcfcfc; }

.block {
  background: gray;
  height: 105%;
  float: left;
  width: 5%; }
