* {
    margin: 0px;
}

html, body {
    background: gray;
    color: black;
    font-family: sans-serif;
    margin-bottom: 50px;
    height: 100%;
    display: inline-table;
}

$lineHeight: 25px;

h1 {
    height: 70px;
    text-align: center;
    background: linear-gradient(to bottom, rgba(110, 145, 186, 1), rgb(19, 43, 71));
    color: white;
    padding: 20px 0px 20px 0px;
    font-size: 40px;
    font-weight: normal;
    position: fixed;
    width: 100%;
    z-index: 2;

    div {
       position: relative;
        top: 50%;
        transform: translateY(-50%);
        font-size: 55px;
        text-shadow: 1px 1px 2px rgb(45, 97, 157);
    }

}

#fadeBlock {
    position: fixed;
    width: 90%;
    height: 190px;
    background: linear-gradient(to bottom, white, white, rgba(255, 255, 255, 0));
    z-index: 0;
    margin-left: 5%;
}

h2 {
    margin: 30px 0px 15px 60px;
    font-size: 30px;
}

h3 {
    margin: 10px 0px 5px 80px;
}

p {
    margin-left: 80px;
    margin-right: 80px;
    line-height: $lineHeight;
}

.job {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 20px;
}

.jobTitle {
    display: inline;
    font-size: 20px;
    font-weight: bold;
}

.employer {
    margin: 5px 0 15px 0;
}

.time {
    margin-left: 10px;
    display: inline;
}

.location {
    margin-left: 10px;
}

.task {
    margin-top: 5px;
    margin-right: 80px;
    line-height: $lineHeight;
}

.employer {
}

.list {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 20px;
}

.resume {
    float: left;
    width: 90%;
    margin-top: 150px;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 100px;
}

.block {
    background: gray;
    height: 105%;
    float: left;
    width: 5%;
}
