@import '../mixins';
@import '../variables';

#about-me {
	display: flex;

	@include narrow {
		flex-direction: column;
	}

	.card-title {
		font-size: 1.2em;
	}

	.pic {
		z-index: 1;
	}

	.pic-clone {
		z-index: 0;
	}

	.intro .text {
		margin-bottom: 10px;
	}

	$smallest: 425px;

	img.profile {
		$size: 200px;
		height: $size;
		width: $size;
		object-fit: cover;
		object-position: 0 -8px;
		border-radius: 300px;

		@include narrow {
			$size: 150px;
			height: $size;
			width: $size;
		}

		@include small {
			$size: 100px;
			height: $size;
			width: $size;
		}

		@include atWidth($smallest) {
			$size: 125px;
			height: $size;
			width: $size;
		}

	}

	.education {
		display: flex;
		align-items: center;
		margin: 10px 0;

		.text {
			margin-left: 20px;
		}

		@include small {
			font-size: 0.9em;
		}
	}

	.text {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}

	.byu {
		$size: 100px;
		height: $size;
		width: $size;
	}

	.pic-wrapper {
		margin-bottom: 10px;
	}

	.contact {
		font-size: 0.8em;
		align-items: center;
		margin-right: 30px;
		padding: 15px 25px;
		padding-top: 30px;
		height: fit-content;
		display: flex;
		flex-direction: column;

		@include narrow {
			margin-right: 0;
			flex-direction: row;
		}

		@include small {
			font-size: 0.6em;
		}
	

		@include atWidth($smallest) {
			display: block;
		}
		
		.info {
			margin-top: 16px;

			@include narrow {
				margin-top: 0;
				margin-left: 40px;
			}

			@include small {
				margin-left: 20px;
			}

			@include atWidth($smallest) {
				margin-left: 0;
			}

			a {
				color: $grayText;
				text-decoration: none;
				display: flex;
				align-items: center;
				margin-bottom: 8px;

				&:hover {
					color: $textColor;
				}
			}
		}
		
		.icon {
			$size: 24px;
			height: $size;
			width: $size;
			margin-right: 10px;
			
			@include small {
				$size: 16px;
				height: $size;
				width: $size;
			}
		}
		
	}
	
	.about {
		font-size: 0.9em;

		@include narrow {
			font-size: 0.8em;
		}

		@include small {
			font-size: 0.7em;
		}
	}

	.tech-list {
		margin: 10px 0;
		&:not(:first-child) {
			margin-top: -10px;
		}
		
		@include small {
			margin: 5px 0;

			&:not(:first-child) {
				margin-top: -5px;
			}
		}
	}

	.tech {
		margin-bottom: 10px;

		@include small {
			margin-bottom: 5px;
			margin-right: 5px;
		}
	}
}

.first, .next {
	.paragraph {
		animation-name: margin-top;
		animation-duration: 1s;
		animation-fill-mode: forwards;
		animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
	}

	@keyframes margin-top {
		from { margin-top: 70px; }
		to { margin-top: 0; }
	}
}

.first .paragraph {
	margin-top: 70px;
	animation-delay: 0.15s;
}

.first {
	@for $i from 1 through 20 {
		.card-#{$i} {
			animation-delay: 0.15s + (0.1s * $i);
		}

	}
}
