@import '../mixins';
@import '../variables';

#top-nav {
	background: lightgray;
	display: flex;
	// padding: 15px 20px;
	// width: 100%;
	// position: sticky;
	top: 0;
	z-index: 1;
	// box-shadow: 1px 1px 3px #0000001f;
	background: white;
	color: #757575;

	@include narrow {
		font-size: 0.8em;
	}

	@include small {
		font-size: 0.7em;
	}

	.pages {
		display: flex;
		align-items: center;
		position: relative;
		margin: 16px;
		margin-bottom: 10px;

		> div {
			padding: 0 30px;
			transition: all 0.5s;
			text-align: center;

			@include narrow {
				padding: 0 10px;
			}

			@include small {
				padding: 0 5px;
			}

			@include atWidth(450px) {
				font-size: 12px;
			}

			&:hover {
				color: black;
			}

			a {
				color: unset;
				text-decoration: none;
			}

			&.active {
				color: black;
				font-weight: bold;
			}
		}

		#highlighter {
			position: absolute;
			bottom: 0;
			width: 0px;
			height: 3px;
			background: #ff8400;
			transition: 
				left 0.9s cubic-bezier(0.68, -0.55, 0.27, 1.55),
				width 0.5s ease-in-out,
				opacity 0.5s;
			padding: 0;

			@include narrow {
				bottom: -2px;
			}
		}
	}

	.title {
		font-size: 32px;
		margin-right: 50px;
		font-family: 'Barlow', sans-serif;
		margin-top: -5px;
		padding: 15px;
		color: black;

		@include narrow {
			font-size: 20px;
			margin-right: 15px;
		}

		@include small {
			font-size: 16px;
			margin-right: 0;
			flex-grow: 1;
		}

	}
}
