@import '../mixins';
@import '../variables';

.photo-gallery {

	.thumb {
		$transitionTime: 0.3s;
		background: white;
		cursor: pointer;
		position: relative;
		display: inline-flex;
		transition: all $transitionTime;
		padding: 5px;
		margin: 5px;
		box-shadow: 1px 1px 7px 2px #00000036;
		
		.img {
			
			$size: 100px;
			width: $size;
			height: $size;
			
			@include atWidth(600px) {
				$size: 75px;
				width: $size;
				height: $size;
			}
	
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
		}

		.icon {
			position: absolute;
			bottom: 0;
			right: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #ffffffa8;
			padding: 4px;
		}

		svg {
			color: $darkGray;
			fill: currentColor;
			transition: all $transitionTime;
		}

		&:hover {
			box-shadow: 1px 1px 7px 2px #0000006b;

			svg {	
				color: $textColor;
			} 
		}
	}
}

.photo-viewer-backdrop {
	position: fixed;
	top: 0;
	height: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: opacity 0.3s;
	background: #00000078;
	z-index: -1;
	display: flex;
    justify-content: center;
	align-items: center;
	flex-direction: column;
	
	&.visible {
		height: auto;
		opacity: 1;
		bottom: 0;
		z-index: 1;
	}
	
	&.full-height {
		height: auto;
		bottom: 0;
		z-index: 1;
	}

	.current-photo {
		$sideMargin: 75px;
		$topBottomMargin: 30px;
		width: calc(100% - #{$sideMargin} * 2);
		height: calc(100% - #{$topBottomMargin} * 2);

		@include narrow {
			$sideMargin: 30px;
			$topBottomMargin: 30px;
			width: calc(100% - #{$sideMargin} * 2);
			height: calc(100% - #{$topBottomMargin} * 2);
		}


		background: white;
		position: absolute;
		display: flex;
		z-index: 1;
		margin: auto;
		top: $topBottomMargin;
	}

	.mid {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.caption {
		background: white;
		font-size: 0.9em;
		padding: 20px 0;

		@include narrow {
			padding: 10px 0;
		}

		@include small {
			padding: 0;
		}
	}

	.mid {
		display: flex;
		justify-content: center;
		position: relative;
		flex-grow: 1;
	}

	$navWidth: 75px;
	$navWidthNarrow: 50px;
	$navWidthSmall: 20px;

	.count {
		color: gray;
		position: absolute;
		top: 0;
		right: 0;
		padding: 10px 0;
		width: $navWidth;

		@include narrow {
			width: $navWidthNarrow;
		}

		text-align: center;
	}

	.img-container {
		flex-grow: 1;
		background: #c7c7c799;
		padding: 10px;
		display: flex;
		box-shadow: 1px 1px 7px 2px #00000036;
		align-items: center;
		margin: 0 10px;
		margin-bottom: 8px;
		margin-top: 40px;
	}

	.img {
		box-sizing: border-box;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		width: 100%;
		height: 100%;
	}

	.nav {
		display: flex;
		align-items: center;
		color: #c7c7c7;
		
		&:hover {
			color: $highlight;
		}
		
		svg {
			visibility: hidden;
			padding: 0;
			height: $navWidth;
			width: $navWidth;

			@include narrow {
				height: $navWidthNarrow;
				width: $navWidthNarrow;
			}

			@include small {
				height: $navWidthSmall;
				width: $navWidthSmall;
			}

			fill: currentColor;
		}
		
		&.show-nav {
			cursor: pointer;
			svg {
				visibility: visible;
			}
		}

	}
}
