.photo-gallery {
	.thumb {
		display: inline-flex;
		// background: #656565;
		border: solid 1px gray;
		padding: 5px;
		margin: 5px;

		img {
			$size: 200px;
			width: $size;
			height: $size;
			object-fit: contain;
		}
	}
}

.photo-viewer-backdrop {
	position: fixed;
	top: 0;
	height: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: opacity 0.3s;
	background: #00000078;
	z-index: -1;
	display: flex;
    justify-content: center;
	align-items: center;
	flex-direction: column;
	
	&.visible {
		height: auto;
		opacity: 1;
		bottom: 0;
		z-index: 1;
	}
	
	&.full-height {
		height: auto;
		bottom: 0;
		z-index: 1;
	}

	.card {
		// margin: 10px;
	}

	.current-photo {
		$margin: 75px;
		background: white;
		display: flex;
		flex-direction: column;
		z-index: 1;
		width: calc(100% - #{$margin} * 2);
		height: 100%;
		margin: $margin 0;
	}

	.bottom {
		background: white;
		font-size: 0.9em;
		padding: 20px;
		margin: 0 75px;
	}

	.photo {
		display: flex;
		justify-content: center;
		position: relative;
		flex-grow: 1;
	}

	.count {
		color: gray;
		position: absolute;
		top: 0;
		right: 0;
		padding: 10px;
	}

	.img {
		// margin: 20px;
		box-sizing: border-box;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		flex-grow: 1;
	}

	.nav {
		display: flex;
		align-items: center;
		color: #c7c7c7;
		// color: lighten(#ff8400, 30%);
		cursor: pointer;

		&:hover {
			color: gray;
			color: #ff8400;
		}
	
		svg {
			$size: 75px;
			padding: 0;
			height: $size;
			width: $size;
			fill: currentColor;
		}
	}
}
