@import '../mixins';

#projects {
	@include narrow {
		font-size: 0.9em;
	}

	@include small {
		font-size: 0.7em;
	}

	.tech {
		margin-top: 10px;
	}
	
	.photo-thumb {
		margin-right: 20px;
	}

	.pics .summary-text {
		margin-top: 10px;
	}

	.summary {
		margin-bottom: 10px;
		font-size: 0.9em;
		display: flex;
		margin-right: 50px;

		@include atWidth(600px) {
			flex-direction: column;
			flex-direction: column-reverse;

			.summary-text {
				margin-top: 0;
				margin-bottom: 10px;
			}
		}
	}

	.description {
		padding: 20px;
		padding-top: 5px;
		background: #fff6d7;
		margin: 10px 0;
		box-shadow: 1px 1px 7px 2px #00000036;

		@include small {
			margin: 10px 4px;
			max-height: 300px;
			overflow: auto;
		}
	}

	code {
		background: #c7c7c79c;
		padding: 0 5px;
	}
}
