@import '../variables';

.tech-list {
	display: flex;
	flex-wrap: wrap;
	font-size: 0.8em;

	.tech {
		$margin: 10px;
		margin-right: $margin;
		background: $generalTech;
		border-radius: 100px;
		padding: 2px 12px;
		$lightPercent: 15%;

		&.front-end {
			$color: $frontendTech;
			background: lighten($color: $color, $amount: $lightPercent);
		}
		
		&.back-end {
			$color: $backendTech;
			background: lighten($color: $color, $amount: $lightPercent);
		}
		
		&.database {
			$color: $dbTech;
			background: lighten($color: $color, $amount: $lightPercent);
		}
	}

}
