// Colors
$highlight: #ff8400;
$grayText: #757575;
$darkGray: #4c4c4c;
$textColor: black;
$projectDescriptionBackground: #fff6d7;

// Tech list
$generalTech: #cecece;
$frontendTech: #d573ff;
$backendTech: #7393ff;
$dbTech: #ff7373;
