$paddingTop: 30px;

* {
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-track {
		// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		background: lightgray;
	}
	&::-webkit-scrollbar-thumb {
		background-color: darkgrey;
		// outline: 1px solid slategrey;
	}
}

#main {
	position: relative;
	flex-grow: 1;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	opacity: 0;
	transition: 
		opacity 1s,
		padding-top 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	padding-top: $paddingTop + 50px;
	overflow: auto;

	&.show {
		opacity: 1;
		padding-top: $paddingTop;
	}

	
}

.shadow {
	box-shadow: 1px 1px 7px 2px #00000036;
	box-shadow: 1px 1px 15px 0px #00000078;
}

$cardStartMargin: 150px;
$cardEndMargin: 30px;

.current .card {
	margin-bottom: $cardEndMargin;
}

.next, .first {
	.card {
		animation-name: card-bottom-margin;
		animation-duration: 1s;
		animation-fill-mode: forwards;
		animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
	}
}

@for $i from 1 through 20 {
	.card-#{$i} {
		animation-delay: 0.1s * $i;
	}
	
}

.card {
	@extend .shadow;
	background: white;
	padding: 15px;
}

.card-title {
	font-weight: bold;
	font-size: 1.4em;
	display: flex;
	margin-bottom: 10px;
	// font-family: "Barlow", sans-serif;
}

@keyframes card-bottom-margin {
	from { margin-bottom: $cardStartMargin; }
	to { margin-bottom: $cardEndMargin; }
}
